<% @questions.each_with_index do |q, index| %>
  <% answers = Answer.where(:question_id => q[:id]) %>

  <div id="asker"> <%= @users_array[index][:username] %> </div>
  <p style="background-color: white; width: 700px; margin-left: 400px; margin-top: 50px"> <%= q.question %> </p>
  <% answers.each do |answer| %>
    <p> <%= answer[:answers] %> </p>
  <% end %>


  <div id="answer">
    <form method="post" action="/blog">
      <input type="hidden" name="question_id" value="<%= q[:id] %>">
      <input type="text" name="answer" value="" placeholder="Here's what to do..." style="width: 700px; height: 35px">
      <input type="submit" value="Answer" style="width: 100px">
    </form>
  </div>

<% end %>
