
<h1> Are you sre you want to delete? </h1>

<h2> Username:</h2> <p> <%= @user[:username] %> </p>


<div class="form-box">
    <form class="user-form" method="post" action="/delete_user">
         <input type="hidden" name="id" value="<%= @user[:id] %>">
        <input type="Submit" value="Submit">
    </form>
</div>
