<!-- ======= views/home.erb ======= -->

<h1>Clicked</h1>
<div class="form-box">
    <form class="user-form" method="post" action="/signin">
        <p>Username: <input type="text" name="username" value="Hunny"></p>
        <p>Password: <input type="text" name="password" value="Bunny"></p>
        <input type="Submit" value="Sign Up">
        <input type="Submit" value="Log In">
    </form>
</div>
